<h2>Transactions</h2>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        
        @if(transactions.length < 1){
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>
                    <button>-</button>
                    <button>-</button>
                </td>
            </tr>
        } @else{
            @for(tx of transactions; track transactions) {
            <tr [class.transaction--editing]="tx === selected">
                <td>{{tx.description}}</td>
                <td>{{tx.amount}}</td>
                <td>{{tx.type}}</td>
                <td>{{tx.createdAt}}</td>
                <td>{{tx.updatedAt}}</td>
                <td>
                    <button (click)="onEdit(tx)">Edit</button>
                    <button (click)="onDelete(tx.id)">Delete</button>
                </td>
            </tr>
        }
        }
    </tbody>
    
</table>
