<h1>Transaction Tracker</h1>

<div class="page__filter">
    <h3>Show:</h3>
    <button (click)="viewMode = 'ALL'">All</button>
    <button (click)="viewMode ='INCOME'">Income</button>
    <button (click)="viewMode ='EXPENSE'">Expense</button>
</div>
<div class="page__container">
    <app-transaction-form
    [transaction]="editingTransaction"
    (save)="onSave($event)"
    (cancel)="editingTransaction = undefined"
    ></app-transaction-form>
</div>

<div class="page__container">
    <app-transaction-list 
    [selected]="editingTransaction"
    [transactions]="getVisibleTransactions()"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    ></app-transaction-list>
</div>
