@use 'styles/breakpoints';

html {
    height: 100vh;
    width: 100vw;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #e8e8eb;
}

.page__filter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    margin-bottom: 2rem;
}

.page__container {
    background-color: #ffffff;
    padding: 1rem 1rem 3rem;
    margin: 1rem 1rem;
}

.message--error {
    color: red;
    margin-top: 1rem;
    margin-left: 4rem;
}

.input--wide {
    width: 40%;
}

.transaction--editing {
  background-color: #ffc2b671;
}

h2 {
    margin: 1rem 0 2rem 3rem;
}

form, table {
    width: 100%;
}

form {
     margin-left: 3rem;
}

button, input, select {
    padding: .25rem .5rem;
    font-size: 1rem;
    margin: 0 .25rem;
}

h1, th, td {
  text-align: center;
}

th {
  background-color: #ebebeb;
}

th, td {
    max-width: 5rem;
    padding: 1rem 0;
}